<%-include("./partials/nav.ejs")%>

<div class="container container-fluid bg-light">
    <h3 class="text-center p-4">Get an appointment at <%=clinic.title%></h3>
    <form action="/appointment" method="POST">
        <div class="form-container container-fluid shadow p-5">
            Selected Clinic :
            <input class="mb-3" type="text" name="clinicTitle" value="<%=clinic.title%>" readonly>
            <input required type="date" placeholder="date" class="form-control p-3 mb-3" name="date">
            <select id="doctor-select" name="doctor">
                <%clinic.dentists.forEach((dentist)=>{%>
                    <option value=<%=dentist.dentist_name%>><%=dentist.dentist_name%></option>
                <%})%>
             </select>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Get appointment!</button>
            </div>
        </div>
    </form>
</div>