<%-include("./partials/nav.ejs")%>

<div class="container container-fluid dashboard-wrapper">
    <div class="row mt-4">
        <div class="col-12 mt-2 mb-5"><h1 class="text-center dashboard-title"><%=user.username%>'s dashboard</h1></div>
        <div class="col-lg-12 p-3 border shadow text-center" id="appointments">
            <div class="mb-5">My appointments (<%=result.length%>)</div>
            <div class="appt-direction pb-5"><i class="fa-solid fa-arrow-down"></i></div>
            <div class="collapse" id="appt-container">
                <%if(result.length === 0){%>
                    <div class="row">
                        <div class="col-lg-12">Your have no appointments!</div>
                    </div>
                <%}%>
                <div class="row pb-5">
                    <%for(const appt of result){%>
                        <div class="card col-lg-4 m-2" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">Dentist: <%=appt.dentist%></h5>
                                <h5 class="card-title">Clinic: <%=appt.clinic%></h5>
                                <p class="card-text">Date: <%=appt.date%></p>
                            </div>
                        </div>
                        <%}%>
                    </div>
                </div>
        </div>
    </div>
    <script src="/public/scripts/script.js"></script>
</div>
